<!-- its exactly like html -->

<!DICTYPE html>
<html>
    <head>
    
    </head>
    <body>
        <h1>This is my header</h1>
        <p>this is the paragraph</p>
        
        <form method="POST" action="">
            <p>Enter Your beakfest :</p>
            <input type="text" name='breakfast' >
            <button type="submit" name="submit" class="btn btn-primary">Enter</button>
        </form>
    </body>
</html>